.main-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 4%;
    padding-right: 4%;
}

/* Main container to hold both left and right divs */
.container {
    display: flex;
    flex-grow: 1; /* Allow the container to stretch fully */
    height: fit-content;
}

/* Left side remains sticky */
.left-container {
    position: sticky;
    top: 0; /* Sticks to the top of the viewport */
    max-height: 80vh;
    min-width: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 96px;
    padding-left: 10%;
}

/* Right side, scrolling area */
.right-container {
    width: 60%;
    flex-grow: 1;
    height: fit-content;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-right: 5%;
}



.left-container a, .left-container a:hover, .left-container a:active{
    color:inherit;
}
.paragraph{
    height: auto;
    margin-left: 2px;
}
.name{
    text-decoration: none;
    font-size: 3rem;
}
.title{
    font-size: 1rem;
    margin-bottom: 3rem;
}
.paragraph p{
    margin-top: 1rem; /* Equivalent to mt-4 in Tailwind */
    max-width: 20rem; /* Equivalent to max-w-xs in Tailwind */
    line-height: 1.5; /* Equivalent to leading-normal in Tailwind */
    margin-bottom: 3rem;
}

.nav-section ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.nav-section ul li {
    display: flex;
    align-items: center;
    width: fit-content;
}
.nav-section ul li a {
    text-decoration: none;
    padding-top: 12px;	
    padding-bottom: 12px;	
    display: flex;
    align-items: center; /* Align the line and text horizontally */
}

.nav-indicator{
    display: inline-block;
    height: 1px;
    width: 2rem;
    background-color: var(--indicator-line-color);
    margin-right: 16px;
    transition: all 0.2s ease;
}


/* Target the nav-indicator inside the anchor when hovering over the a */
.nav-section ul li a:hover .nav-indicator {
    width: 4rem; /* Extend width on hover */
}

/* Increase width when the nav item is active */
.nav-section ul li a.active .nav-indicator {
    width: 4rem; /* Extended width for active section */
}


.social-media{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 0 5rem 0;		
}
.social-media li{
    margin-right: 20px;
}




.about-paragraph{
    margin-left: 30px;
}

/* Sections */
.section {
    height: fit-content;
    padding: 10px;
    margin-bottom: 60px;
}

ol.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.expereince{
    padding-right: 20px;
}
li.experience {
    margin-bottom: 3rem;
    border-radius: 10px;
}
li.experience:hover{
    background-color: var(--tab-color);
    cursor: pointer;
}
ol.list:hover li.experience {
    opacity: 0.5;
}

/* Except for the one being hovered */
li.experience:hover {
    opacity: 1 !important;
}

.content {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    padding: 20px;
    position: relative;
}

.project-content{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
    padding: 20px;
    position: relative;
}

.date {
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--date-color);
    text-transform: uppercase;
    margin-top: 6px;
}

.details{
    padding-right: 5%;
    width: fit-content;
}


.details h3  {
    margin-top: 0;
    display: inline-flex;
    align-items: center;
}

.section-href{
    text-decoration: none;
}

.experiences-redirect-icon{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25rem;
}

.details h3 a {
    color: var(--section-title-color);
    text-decoration: none;
    font-size: 1.25rem;
    display: inline;
}

.details h3 a:hover,
.details h3 a:focus {
    color: var(--section-skills-color);
}

.details p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--section-detail-color);
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 0.75rem;
    padding: 0;
    list-style: none;
}

.technologies li {
    background-color: var(--section-skills-bubble-color);
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    color: var(--section-skills-color);
    border-radius: 9999px;
}

.project-screenshot{
    display: none;  
}   

.project-image{
    width: 100%;
    min-height: 150px;
    height: 80%;
}
.experience:hover .project-screenshot{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    gap: 20px; 
}

.project-screenshot-image{
    width: 30%;
    height: 70%;
}


.icon {
    margin-left: 0.25rem;
    width: 1rem;
    height: 1rem;
}

.view-all-projects{
    text-decoration: none;
    color: var(--view-projects-color);
    transition: all 0.2s ease;
}

.view-all-projects:hover{
    text-decoration: underline;
}